/* Inserta tu código aqui */
*{
	color: gray;
}
hr{
	width: 100%;
}
.ml-10{
	margin-left: 15%;
}
.cuadrogris{
	background-color: #F2F2F2;
}
footer{
	height: 150%;
}
mark{
	background-color: gray;
}
.blanco{
	color: white;
}
.negro{
background-color: black;
padding: 1% 2%;
margin-right: 3%;
}